{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='update_page.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/simditor/site/assets/styles/simditor.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='vendor/simditor/site/assets/scripts/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/simditor/site/assets/scripts/module.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/simditor/site/assets/scripts/hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/simditor/site/assets/scripts/uploader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/simditor/site/assets/scripts/simditor.js') }}"></script>
<script>
   let overview_update = "{{ url_for('course_page.course_overview_update_handler', course_id=session['course_id']) }}";
   let info_update = "{{ url_for('course_page.course_info_handler', course_id=session['course_id']) }}";
   let submit_announcement = "{{ url_for('course_page.course_announcements_create_handler', course_id=session['course_id']) }}"
</script>
<script src="https://meet.jit.si/external_api.js"></script>
<script src="{{ url_for('static', filename='js/update_page.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Index</title>
{% endblock %}

{% block body %}
{% include 'index/sidebar.html' %}
<div class="content">
   <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'description')">Description</button>
      <button class="tablinks" onclick="openTab(event, 'info')">Info</button>
      <button class="tablinks" onclick="openTab(event, 'announcement')">Announcements</button>
      <button class="tablinks" onclick="openTab(event, 'content')">Content</button>
      <button class="tablinks" onclick="openTab(event, 'livestream')">Livestream</button>
   </div>

   <div class="tabcontent" id="description">
      <h2>Description</h2>
      {% if course.description is not none %}
         {{ course.description | safe }}
      {% endif %}
      <button type="submit" id="update" onClick="updateWithTextArea('description', 'update', overview_update)">Update</button>
      <button type="submit" id="delete" onclick="deleteItem('description', overview_update)">Delete</button>
   </div>

   <div class="tabcontent" id="info">
      <h2>Info</h2>
      {% if course.info is not none %}
         {{ course.info | safe }}
      {% endif %}
      <button type="submit" id="update" onClick="updateWithTextArea('info', 'update', info_update)">Update</button>
      <button type="submit" id="delete" onclick="deleteItem('info', info_update)">Delete</button>
   </div>

   <div class="tabcontent" id="announcement">
      <h2>Make an announcement</h2>
      {% for announcement in announcements %}  
         <li>
            Created time: {{announcement.created_date}}
            {{announcement.description | safe}}
         </li>
      {% endfor %}
      <textarea name="announcement" id="announcement_text"></textarea>
      <button type="submit" onclick="submitAnnouncement('announcement_text', submit_announcement)">Create</button>
   </div>
   
   <div class="tabcontent" id="content">
      <h2>Content</h2>
      {% for number in range(course.course_length) %}
      <li>
         <a href="{{ url_for('course_page.course_week_update_handler', course_id=session['course_id'], week_num=number) }}">Week {{ number }}</a>
      </li>
      {% endfor %}
   </div>

   <div class="tabcontent" id="livestream">
      <h2>Livestream</h2>
      <input id="txtField" type="text" id="lname" name="lname">
      <button onclick="joinRoom()">Click Me</button>
      <div id="content">
      </div>
      <script>
         function joinRoom() {
          parent_node = document.querySelector("#livestream");
          for  (var i = 0; i < parent_node.children.length; i++) {
               console.log(parent_node.children[i].nodeName)
               if (parent_node.children[i].nodeName == "IFRAME") {
                   parent_node.children[i].remove()
               }
          }
          const domain = 'meet.jit.si';
          const options = {
               roomName: document.getElementById("txtField").value,
               width: 700,
               height: 700,
               parentNode: document.querySelector("#livestream") 
          };
          const api = new JitsiMeetExternalAPI(domain, options);
         }				  
      </script>
   </div>

   <script>
      var editor = new Simditor({
        textarea: $('textarea')
      });
      let elem = document.getElementById('description');
      elem.style.display = "block";
   </script>
</div>
{% endblock %}

