{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='update_page.css') }}">
<script>
   let overview_update = "{{ url_for('course_page.course_overview_update_handler', course_id=session['course_id']) }}";
   let info_update = "{{ url_for('course_page.course_info_handler', course_id=session['course_id']) }}";
</script>
<script src="{{ url_for('static', filename='js/update_page.js') }}"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Index</title>
{% endblock %}

{% block body %}
{% include 'index/sidebar.html' %}
<div class="content">
   <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'description')">Description</button>
      <button class="tablinks" onclick="openTab(event, 'info')">Info</button>
      <button class="tablinks" onclick="openTab(event, 'announcement')">Announcements</button>
   </div>

   <div class="tabcontent" id="description">
      <h2>Description</h2>
      {% if course.description is not none %}
         {{ course.description | safe }}
      {% endif %}
      <button type="submit" id="update" onClick="updateWithTextArea('description', 'update', overview_update)">Update</button>
      <button type="submit" id="delete" onclick="deleteItem('description', overview_update)">Delete</button>
   </div>

   <div class="tabcontent" id="info">
      <h2>Info</h2>
      {% if course.info is not none %}
         {{ course.info | safe }}
      {% endif %}
      <button type="submit" id="update" onClick="updateWithTextArea('info', 'update', info_update)">Update</button>
      <button type="submit" id="delete" onclick="deleteItem('info', info_update)">Delete</button>
   </div>

   <div class="tabcontent" id="announcement">
      <h2>Make an announcement</h2>
      {{ course.info | safe }}
      <form action="#" method="POST">
         <button type="submit">Delete</button>
      </form>
   </div>
   
   <script>
      let elem = document.getElementById('description');
      elem.style.display = "block";
   </script>
</div>
{% endblock %}

