<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<div class="sidebar">
   <button><i class="fa fa-user" style="float:left"></i> {{current_user.username}}</button> 
  <form action="{{ url_for('index_page.find_courses_handler', course_id=session['course_id']) }}">
     <button type="submit">Find courses</button>
  </form>
  <form action="{{ url_for('index_page.view_registered_courses_handler') }}">
     <button type="submit"><i class="fa fa-book" style="float:left"></i> View courses you joined</button>
  </form>
  <form action="{{ url_for('index_page.view_owned_courses_handler') }}">
     <button type="submit"><i class="fa fa-pencil" style="float:left"></i> View courses you own</button>
  </form>
  <form action="{{url_for('auth_page.logout')}}">
     <button style="bottom:0;position:absolute"><i class="fa fa-sign-out" style="float:left"></i>Logout</button>
  </form>
</div>
