<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<div class="sidebar">
  <form action="{{ url_for('index_page.find_courses_handler', course_id=session['course_id']) }}">
     <button type="submit">Find courses</button>
  </form>
  <form action="{{ url_for('index_page.view_registered_courses_handler') }}">
     <button type="submit">View courses you joined</button>
  </form>
  <form action="{{ url_for('index_page.view_owned_courses_handler') }}">
     <button type="submit">View courses you own</button>
  </form>
</div>
