{% extends 'base.html'%}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %}
{% include 'index/sidebar.html' %}
<div class="content">
   {% for course in courses %}
      <li>
         <a href="{{ url_for('course_page.course_update_page_handler', course_id=course.id) }}">{{course.name}}</a>
      </li>
   {% endfor %}    
   {% if next_url %}
      <a href="{{ next_url }}">Next</a>
   {% endif %}
   {% if prev_url %}
      <a href="{{ prev_url }}">Prev</a>
   {% endif %}
</div>
{% endblock %}

