{% extends 'base.html'%}

{% block head %}
<title>Course Content</title>
{% endblock %}

{% block body %}
{% include 'sidebar.html' %}
<div class="content">
   <ul>
   {% for number in range(course_length) %}
      <li> Week {{ number }}</li>
      <ul>
         <li>
            <a href="{{ url_for('.course_week_material_handler', week_num=number, course_id=session['course_id']) }}">Materials</a>
         </li>
         <li>
            <a href="{{ url_for('.course_week_homework_handler', week_num=number, course_id=session['course_id']) }}">Homework</a>
         </li>
         <li>
            <a href="{{ url_for('.course_week_homework_handler', week_num=number, course_id=session['course_id']) }}">Videos</a>
         </li>
      </ul>
   {% endfor %}    
   </ul>
</div>
{% endblock %}
