{% extends 'base.html'%}

{% block head %}
<title>Course Home</title>
{% endblock %}

{% block body %}
{% include 'sidebar.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
<div class="content">
   <div class="course-title">
      <h2>
         Welcome to {{ course.name }} 
         {% if course.year is not none %}
         - {{ course.year }} 
         {% endif %}
         {% if course.semester is not none %}
         - {{ course.semester }}
         {% endif %}
      </h2>
   </div>
   <div>{{ course.description | safe}}</div>
   <div>{{ course.length }}</div>
</div>
{% endblock %}
