<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<div class="sidebar">
   <form action="{{ url_for('.course_overview_handler', course_id=session['course_id']) }}">
     <button type="submit">Course Overview</button>
  </form>
  <form action="{{ url_for('.course_info_handler', course_id=session['course_id']) }}">
     <button type="submit">Course Info</button>
  </form>
  <form action="{{ url_for('.course_announcements_handler', course_id=session['course_id']) }}">
     <button type="submit">Announcement</button>
  </form>
  <form action="{{ url_for('.content_handler', course_id=session['course_id']) }}">
     <button type="submit">Course content</button>
  </form>
  <form action="{{ url_for('.course_livestream_handler', course_id=session['course_id']) }}">
     <button type="submit">Livestream</button>
  </form>
</div>
